<mat-toolbar class="pt-2">
  <mat-toolbar-row>
    <div class="container">
    <div class="row w-100">
      <div class="col-3 pt-2">
        <form class="mat-input-form">
          <mat-form-field class="w-100">
            <mat-label>Filter</mat-label>
            <!-- <input matInput class="text-center" value="Thailand Super Pickup D2"> -->
              <mat-select [formControl]="filterLogger" multiple (selectionChange)="onSelectChange($event)">
                @for (filterLog of filterLogList; track filterLog) {
                  <mat-option [value]="filterLog.value">{{filterLog.name}}</mat-option>
                }
              </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div class="col-3 ps-0 pe-0 d-flex  align-items-center">
        <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
          <mat-slide-toggle formControlName="sortType" (change)="onToggleSort()">Warning {{sortStatus}}</mat-slide-toggle>
        </form>
      </div>
      <div class="offset-3 col-3 ps-0 pe-0 d-flex  align-items-center justify-content-end">
        <button matButton [matMenuTriggerFor]="menu" type="button" class="btn btn-light">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="000"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/></svg>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Reset Logger ทั้งหมด</button>
        </mat-menu>
      </div>
    </div>

    </div>
  </mat-toolbar-row>
</mat-toolbar>


<div style="margin-top: 20px;" class="container">
  <div class="row">

  @for (item of items; track $index) {
    <div class="col-6 col-sm-4 col-lg-3 mt-3" (click)="navigateToLoggerDetail()">
      <mat-card class="logger-card" appearance="outlined"  >
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <h3 style="margin: 0.5rem 0 0 0;"><span class="badge text-bg-secondary w-100">No.1</span></h3>
            </div>
            <div class="col-12">
              <h3 style="margin: 0.5rem 0 0 0;"><span class="badge text-bg-secondary w-100">TSS01</span></h3>
            </div>
          </div>

          <hr style="margin: 0.3rem 0;">
          <div class="row justify-content-center">
            <div class="col-6 pe-0 d-flex justify-content-center">
              <button type="button" class="btn btn-secondary w-100">
                Offline
              </button>
              @if(item.numberWarning > 0){
                <div matBadge="4" matBadgeOverlap="false" class="demo-section"  style="width: 27px;">
                  <img style="border-radius: 0; height: 40px;" src="images/icon/image8.png">
                </div>
              }
              @else {
                <div matBadgeOverlap="false" class="demo-section"  style="width: 33px;">
                  <img style="border-radius: 0; height: 40px; margin-left: 10px;" src="images/icon/image6.png">
                </div>
              }

            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  }

  </div>
</div>

