<div style="margin-top: 20px;" class="container">
  <div class="row">
    <div class="col-6">
      <h3>ตั้งค่า Logger</h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button type="button" class="btn btn-secondary" (click)="addLogger('0ms','0ms')">เพิ่ม Logger</button>
    </div>
  </div>
  <hr style="margin: 0.3rem 0; color: #FFF;" >

  <div class="row">

  @for (item of items; track $index) {
    <div class="col-6 col-sm-4 col-lg-3 mt-3">
      <mat-card class="logger-card" appearance="outlined"  >
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <h3 style="margin: 0.5rem 0 0 0;"><span class="badge text-bg-secondary w-100">No.1</span></h3>
            </div>
            <div class="col-12">
              <h3 style="margin: 0.5rem 0 0 0;"><span class="badge text-bg-secondary w-100">TSS01</span></h3>
            </div>
          </div>


          <hr style="margin: 0.3rem 0;">
          <div class="row justify-content-center">
            <div class="col-6 pe-0 d-flex justify-content-center">
              <button type="button" class="btn btn-secondary w-100 ">
                Offline
              </button>
              <button matButton [matMenuTriggerFor]="menu" type="button" class="btn btn-outline-secondary d-flex" style="margin-left: 10px;">
                <mat-icon>settings</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="settingLogger('0ms','0ms')">
                  <mat-icon>settings</mat-icon>
                  <span>ตั้งค่า Logger</span>
                </button>
                <button mat-menu-item (click)="deleteLogger('0ms','0ms')">
                  <mat-icon>delete</mat-icon>
                  <span>ลบ Logger</span>
                </button>
              </mat-menu>
              <!-- @if(item.numberWarning > 0){
                <div matBadge="4" matBadgeOverlap="false" class="demo-section"  style="width: 27px;">
                  <img style="border-radius: 0; height: 40px;" src="images/icon/image8.png">
                </div>
              }
              @else {
                <div matBadgeOverlap="false" class="demo-section"  style="width: 33px;">
                  <img style="border-radius: 0; height: 40px; margin-left: 10px;" src="images/icon/image6.png">
                </div>
              } -->

            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  }

  </div>
</div>
