<h1 mat-dialog-title class="text-center">
  Warning Logger
</h1>

<mat-dialog-content>
  <h5 class="text-center">
    ต้องการ Reset ค่า <b style="color: #D88C0C;">Warning</b>
    ทั้งหมดหรือไม่ ?
  </h5>
  <div class="row">
    <div class="col-12 d-flex justify-content mt-2">
        <button type="button" class="btn btn-danger" matButton mat-dialog-close>ยกเลิก</button>
        <button type="button" class="btn btn-success"   matButton mat-dialog-close cdkFocusInitial>ยืนยัน</button>
    </div>
  </div>
</mat-dialog-content>

<!-- <mat-dialog-actions class="d-flex">
  <button type="button" class="btn btn-danger" matButton mat-dialog-close>ยกเลิก</button>
  <button type="button" class="btn btn-success"   matButton mat-dialog-close cdkFocusInitial>ยืนยัน</button>
</mat-dialog-actions> -->

