<div style="margin-top: 20px;" class="container">
  <div class="row">
    <div class="col">

      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">รายการ</th>
          </tr>
        </thead>
        <tbody>
          @for (seasonData of allSeason; track seasonData) {
            <tr>
              <td class="text-center" (click)="navigateToEvent()">{{seasonData.seasonName}}</td>
            </tr>
          }
        </tbody>
      </table>

    </div>
  </div>

</div>
