<h2 mat-dialog-title>แก้ไข Event</h2>
<mat-dialog-content>
        <div class="card card-bg-transparen">
          <!-- <div class="card-header">
          </div> -->
          <div class="card-body">

            <div class="row">
              <div class="col-12">
                <form class="mat-input-form">
                  <mat-form-field class="w-100">
                    <mat-label>เลือก รายการ</mat-label>
                    <!-- <input matInput class="text-center" value="Thailand Super Pickup D2"> -->
                      <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="seasonId">
                        @for (season of seasonList; track season) {
                          <mat-option [value]="season.value">{{season.name}}</mat-option>
                        }
                      </mat-select>
                  </mat-form-field>
                </form>
              </div>
            </div>

            <hr style="margin: 0.3rem 0; color: #FFF;" >

            <div class="row mt-3">
              <div class="col-6">
                <form class="mat-input-form">
                  <mat-form-field class="w-100">
                  <mat-label>ชื่อ Event</mat-label>
                    <input matInput class="text-center" [ngModelOptions]="{standalone: true}" [(ngModel)]="eventName">
                  </mat-form-field>
                </form>
              </div>

              <div class="col-6">
                <form class="mat-input-form">
                  <mat-form-field class="w-100">
                  <mat-label>เลือก สนาม</mat-label>
                      <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="circuitName">
                        @for (maps of mapsList; track maps) {
                          <mat-option [value]="maps.value">{{maps.name}}</mat-option>
                        }
                      </mat-select>
                  </mat-form-field>
                </form>
              </div>

              <div class="col-12">
                <form class="mat-input-form">
                  <mat-form-field class="w-100">
                      <mat-label mat-label>วันที่เริ่ม - สิ้นสุด Event</mat-label>
                      <mat-date-range-input [formGroup]="range" [rangePicker]="picker" >
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date">
                      </mat-date-range-input>

                      <mat-hint class="text-light">DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>

                      @if (range.controls.start.hasError('matStartDateInvalid')) {
                        <mat-error>Invalid start date</mat-error>
                      }
                      @if (range.controls.end.hasError('matEndDateInvalid')) {
                        <mat-error>Invalid end date</mat-error>
                      }
                  </mat-form-field>
                </form>
              </div>

            </div>
          </div>
        </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" class="btn btn-danger" matButton mat-dialog-close>close</button>
  <button type="button" class="btn btn-success" matButton mat-dialog-close cdkFocusInitial (click)="onNoClick()">submit</button>
</mat-dialog-actions>
